*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DynaPuff', cursive;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(194, 148, 247);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#baslık {
  color: #2a025e;
}

header .search-input {
  width: 500px;
  height: 35px;
  margin: 15px auto 0 auto;
  border: 1px solid #2a025e;
  border-radius: 7px;
  text-indent: 10px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.emoji-result {
  margin-top: 20px;
}

.emoji-result .emoji-list {
  list-style-type: none;
  background-color: #d1b5f5;
  color: #2a025e;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1px;
  padding: 10px 0 10px 10px;
}

.emoji-list .title {
  margin-left: 20px;
}

.emoji-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji-list li .copy {
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}