body {
  margin: 0;
  font-family: 'DynaPuff', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Silkscreen', cursive;

}

code {
  font-family: 'DynaPuff', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Silkscreen', cursive;
}
